/*
 * Globals
 */

:root {
  --color-light: #ededed;
  --color-light-darkened: #cccccc;
  --color-dark: #0a0a0a;
}

/* Links */

a {
  text-decoration: underline;
  color: var(--color-light);
}

a:hover {
  color: var(--color-light-darkened);
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: var(--color-dark);
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: var(--color-light);
  border: 1px solid var(--color-light);
}

.btn-group > .btn {
  margin: 4px;
}

h1 {
  margin-top: 0;
}

/*
 * Base structure
 */

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: "Noto Sans Mono", "Andale Mono", monospace;
  font-weight: 400;
}

select {
  color: var(--color-dark);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}
.site-wrapper-inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.cover-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

#instructions {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 12px;
  max-width: 380px;
}
#brightnessRange {
  display: inline;
  width: auto;
}
#matrix {
  align-items: stretch;
  display: flex;
  flex-grow: 2;
  gap: 12px;
  margin: 12px;
  text-align: center;
}

#matrix select {
  margin-bottom: 8px;
}

.fw-logo {
  margin-bottom: 24px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-light); /* IE8 proofing */
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: var(--color-light);
  border-bottom-color: var(--color-light);
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: 500;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
}

.cover-container {
  width: inherit;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot {
    width: 700px;
  }
}

.led-grid table {
  border-collapse: separate;
  border-spacing: 2px;
  cursor: crosshair;
}

.led-grid table tr td {
  background-color: #a9a9a9;
  padding: 10px;
}

.led-grid table tr td:hover,
.led-grid table tr td.off:hover {
  background-color: #c3c1ff;
  padding: 10px;
}

.led-grid table tr td.off {
  background-color: white;
  padding: 10px;
}

#_output {
  text-align: left;
}

.footer {
}
.footer > div {
  text-align: center;
  padding-top: 20px;
}
